<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Alchemy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/styles/vendor.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.css"/>
</head>
<body>
  <div class="alchemy" id="alchemy"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/scripts/vendor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>

  <script type="text/javascript">
    alchemy.begin({dataSource: "/static/data/charlize.json"});
  </script>
</body>
</html>